@import 'tailwindcss';

body {
  margin: 0;
}

.editor-overlay pre {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-size: 13px;
  tab-size: 2;
}
.editor-overlay code {
  white-space: pre;
}
.code-output pre {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  font-size: 13px;
  tab-size: 2;
}
.code-output code {
  white-space: pre;
}
